<% content_for :head do %>
  <%= stylesheet_link_tag 'root' %>
<% end %>

<div class='page_location'>
  <div><p>1</p></div>
  <div></div>
  <div><p>2</p></div>
  <div></div>
  <div><p>3</p></div>
</div>

<main>
  <section class='about_me'>
    <%= image_tag 'root/pp.jpg', alt: 'Profile Image', class: 'animation_fadeIn' %>
    <h1 class='animation_appear'>Hi, I'm Tim.<br>I do programming.</h1>
    <p class='animation_fadeIn'>I'm a 16 year old German hobby software developer.<br>In my free time, I play Games and do competitive swimming.</p>
    <div class='about_me_post animation_fadeIn'>
      <h3>Latest Post:</h3>
      <%= link_to 'Sample Post', '/' %>
      <p>Sample post desc</p>
    </div>
  </section>

  <section class='projects'>
    <h1 class='animation_appear'>Projects</h1>
    <div>
      <% @projects.each do |project| %>
        <div class='project animation_fadeIn'>
          <%= link_to project.name, project.link, target: '_blank' %>
          <p><%= project.description %></p>
          <div class='project_images'>
            <% project.project_images.each do |project_image| %>
              <%= image_tag "root/projects/#{project_image.image_name}.png", alt: project_image.image_name %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>