<head>
  <%= stylesheet_link_tag 'posts/show' %>
</head>

<main>
  <section class='post'>
    <h1 class='animation_appear'><%= @post.title %></h1>
    <p class='animation_appear'><%= @post.created_at.strftime('%B %d, %Y') %></p>
    <div class='animation_fadeIn'><%= markdown(@post.body).html_safe %></div>
  </section>
  <hr class='spacer animation_fadeIn'>
  <section class='post_info animation_fadeIn'>
    <p>Published <%= @post.created_at.strftime('%B %d, %Y') %>. Written by <b><%= @post.author %></b>.</p>
    <p>If you enjoyed this Post, please consider sharing it!</p>
    <div>
      <a target='_blank' href='https://twitter.com/intent/tweet?url=<%= request.original_url %>'>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="30px" viewBox="0 0 36 30" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 32.21875 7.542969 C 32.242188 7.863281 32.242188 8.179688 32.242188 8.503906 C 32.242188 18.316406 24.867188 29.632812 11.382812 29.632812 L 11.382812 29.628906 C 7.398438 29.632812 3.5 28.476562 0.144531 26.296875 C 0.722656 26.367188 1.304688 26.40625 1.890625 26.40625 C 5.191406 26.410156 8.398438 25.285156 10.996094 23.21875 C 7.859375 23.160156 5.105469 21.089844 4.144531 18.0625 C 5.246094 18.277344 6.375 18.234375 7.457031 17.933594 C 4.035156 17.234375 1.574219 14.191406 1.574219 10.65625 L 1.574219 10.5625 C 2.59375 11.136719 3.734375 11.457031 4.902344 11.492188 C 1.679688 9.308594 0.6875 4.96875 2.632812 1.574219 C 6.355469 6.214844 11.847656 9.035156 17.742188 9.332031 C 17.152344 6.753906 17.957031 4.050781 19.863281 2.238281 C 22.816406 -0.574219 27.457031 -0.429688 30.234375 2.558594 C 31.875 2.230469 33.449219 1.621094 34.890625 0.757812 C 34.34375 2.476562 33.195312 3.9375 31.667969 4.863281 C 33.121094 4.691406 34.539062 4.296875 35.875 3.695312 C 34.890625 5.191406 33.652344 6.492188 32.21875 7.542969 Z M 32.21875 7.542969 "/></g></svg>
      </a>
      <a class='copy_to_clipboard' href='' copy_text='<%= request.original_url %>'>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 30 30" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 27.789062 2.203125 C 24.863281 -0.722656 20.066406 -0.722656 17.140625 2.203125 L 11.390625 7.953125 C 13.363281 7.390625 15.5 7.539062 17.367188 8.410156 L 20.359375 5.421875 C 21.519531 4.257812 23.410156 4.257812 24.570312 5.421875 C 25.734375 6.582031 25.734375 8.472656 24.570312 9.632812 L 20.816406 13.390625 L 18.34375 15.863281 C 17.183594 17.023438 15.292969 17.023438 14.128906 15.863281 L 10.914062 19.078125 C 11.660156 19.828125 12.53125 20.386719 13.445312 20.738281 C 15.914062 21.714844 18.78125 21.339844 20.9375 19.640625 C 21.148438 19.472656 21.375 19.285156 21.5625 19.078125 L 27.789062 12.851562 C 30.738281 9.925781 30.738281 5.152344 27.789062 2.203125 Z M 27.789062 2.203125 "/><path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 12.492188 21.714844 L 9.625 24.578125 C 8.464844 25.742188 6.574219 25.742188 5.414062 24.578125 C 4.25 23.417969 4.25 21.527344 5.414062 20.367188 L 11.640625 14.136719 C 12.800781 12.976562 14.691406 12.976562 15.855469 14.136719 L 19.070312 10.921875 C 18.324219 10.175781 17.453125 9.613281 16.539062 9.261719 C 13.945312 8.222656 10.894531 8.699219 8.714844 10.652344 C 8.609375 10.734375 8.503906 10.839844 8.421875 10.921875 L 2.195312 17.148438 C -0.730469 20.074219 -0.730469 24.871094 2.195312 27.796875 C 5.121094 30.722656 9.917969 30.722656 12.84375 27.796875 L 18.46875 22.109375 C 15.605469 22.773438 14.941406 22.691406 12.492188 21.714844 Z M 12.492188 21.714844 "/></g></svg>
      </a>
    </div>
  </section>
  <hr class='spacer animation_fadeIn'>
</main>