<head>
  <%= stylesheet_link_tag 'contact' %>
</head>

<main>
  <h1 class='animation_appear'>Contact</h1>
  <div class='infos animation_fadeIn'>
    <p>You can send me an Email at <a href='' class='copy_to_clipboard' copy_text='contact@timgoellner.dev'>contact@timgoellner.dev</a>.</p>
    <br><br>
    <p>I am also available via the username <a href='' class='copy_to_clipboard' copy_text='sirroti'>sirroti</a> on Discord.</p>
  </div>
  <%= form_with method: :post, class: 'animation_fadeIn contact_form' do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, required: true, maxlength: 75, class: 'email_field' %>
    </div>
    <div>
      <%= form.label :message %>
      <%= form.text_area :message, required: true, maxlength: 1024, class: 'message_field' %>
    </div>

    <span class='contact_form_action'>
      <%= form.submit 'Send', class: 'submit' %>
      <% flash.each do |key, value| %>
        <p class='notice'><%= value %></p>
      <% end %>
    </span>
  <% end %>
</main>